* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#heading, #game-status, #highest-score {
    margin-left: 1rem;
    margin-right: 1rem;
}

#heading {
    margin-top: 20px;
    margin-bottom: 15px;
}

#game-status {
    margin-bottom: 40px;
}

#container {
    display: inline-block;
    height: 50vw;
    width: 60vw;
    min-height: 200px;
    min-width: 240px;
    max-height: 500px;
    max-width: 600px;
    border: 10px solid black;
    border-radius: 20px;
}

#container .sub-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 100%;
}

#container .sub-container .btn {
    width: 45%;
    height: 90%;
    border: 5px solid black;
    border-radius: 20px;
    cursor: pointer;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#highest-score {
    margin-top: 40px;
    margin-bottom: 20px;
}

/* These styles will be dynamically applied or removed based on changes made to the element's class
   using jQuery's toggleClass method */

#container .level-up {
    background-color: whitesmoke;
}

#container .clicked {
    background-color: greenyellow;
    box-shadow: 0 0 10px 3px greenyellow;
}

.game-over {
    background-color: red;
}